.nav{
	color: white;
	list-style-type: none;
	overflow: hidden;
	border-radius: 5px;
	text-align: center;
	align-items: center;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.nav li {
  	float: left;
}

.nav li a {
	display: block;
  	color: white;
  	text-align: center;
 	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 25px;
  	font-family: 'Work Sans', sans-serif;
}

header {
	background-color: #01E5A7;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

header h1{
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	text-shadow: 1px 1px 1px black;
	display: inline-block;
}

.nav li a:hover{
 	background-color: #01E5A7;
}

/* HOME PAGE */

.flex-container{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.home{
	justify-content: center;
  	align-items: center;
	text-align: center;
	width: 50%;
	font-family: 'Work Sans', sans-serif;
}

.home img{
	max-width: 75%;
	height: auto;	
}

.user{
	border-radius: 5px;
 	background-color: #f2f2f2;
  	padding: 25px;
  	width: 50%
}

.user h2, p{
	text-align: center;
	justify-content: center;
}

.user input[type=text], select{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.user input[type=submit]{
	background-color: red;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	width: 25%;
	display: block;
	margin: 0 auto;
}

.user h3{
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
}

/**/

.search{
  	justify-content: center;
  	align-items: center;
	text-align: center;
}

.table{
  	justify-content: center;
  	align-items: center;
	text-align: center;
	width: 50%
}

.table table{
	margin-left: auto;
  	margin-right: auto;
}

.table table, th, td{
	padding: 10px;
	border-collapse: collapse;
}

.search th, td{
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

.search th{
	background-color: #333;
	color: white;
}

.search tr:hover{
	background-color: #01E5A7;
	color: white;
}


.log{
	border-radius: 5px;
 	background-color: #f2f2f2;
  	padding: 25px;
  	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.log h2, p{
	text-align: center;
	justify-content: center;
}

.leftcol{
	float: left;
  	width: 25%;
  	margin-top: 6px;
  	font-family: 'Work Sans', sans-serif;
  	font-size: 20px;
}

.rightcol{
	float: left;
  	width: 75%;
  	margin-top: 6px;
}

.log input[type=text], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.log input[type=submit]{
	background-color: red;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	width: 25%;
}






