/*HEADER*/

header h1{
	font-family: 'Share Tech Mono', monospace;
	text-align: center;
	color: black;
	background-color: #D8D8D8;
	padding: 2.5vw;
}

.nav{
	background-color: #333;
	color: white;
	list-style-type: none;
	overflow: hidden;
}

.nav li{
	float: right;
}

.nav li a{
	color: white;
	text-decoration: none;
	display: block;
	text-align: right;
	padding: 14px 16px;
	font-size: 20px;
	font-family: 'Share Tech Mono', monospace;
}

.nav li a:hover {
  background-color: #2FBD48;
}

/*BROWSE*/

.flex_container{
	display: flex;
}

.flex_container img{
	height: 100%;
	width: 100%;
}

.column{
	float: left;
	width: 30%;
  	padding: 10px;
  	text-align: center;
  	font-family: 'Share Tech Mono', monospace;
}

#submit{
	background-color: #2FBD48;
  	border: none;
  	text-decoration: none;
  	color: white;
  	padding: 16px 32px;
  	width: 100%;
  	cursor: pointer;
  	font-size: 20px;
  	font-family: 'Share Tech Mono', monospace;
}

/*CHECKOUT*/

.cart{
	text-align: center;
	margin: auto;
  	width: 50%;
  	border: 3px solid black;
  	padding: 10px;
}

.checkout{
	display: block;
	justify-content: center;
	text-align: justify;
	margin: auto;
  	width: auto;
  	border: 3px solid black;
  	padding: 20px;
}


#return_button{
	background-color: #2FBD48;
  	border: none;
  	text-decoration: none;
  	color: white;
  	padding: 16px 32px;
  	cursor: pointer;
  	font-size: 20px;
  	font-family: 'Share Tech Mono', monospace;
}